* {
  font-family: poppins;
  margin: 0px;
  padding: 0px;
  /* outline: 1px solid skyblue; */
}

body {
  background-color: black;
  scroll-behavior: smooth;
}
.backgorundContainer {
  z-index: -999;
  height: 100%;
  width: 100%;
  position: fixed;
  margin: auto;
  padding: 0px;
  justify-content: center;
  align-items: center;
}
.backgorundContainer .bckGradient {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  background-image: linear-gradient(
    to bottom right,
    #1124007c,
    #153a2000,
    #153a2050,
    #112718
  );
}

.backgorundContainer .morphism {
  backdrop-filter: blur(5px);
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
  position: absolute;
}
