.footer {
  height: 455px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  margin-top: 20px;
}
.footer .footerBackground {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerOverlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  mix-blend-mode: multiply;
  background: linear-gradient(0deg, #475946, #475);
}
.footer .footerBackground img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

.footercontent {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.footercontent .section {
  display: flex;
  justify-content: space-evenly;
}

.footercontent .hr {
  position: relative;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #467e41 0%, #080f07 100%);
}

.footercontent .section1 {
  justify-content: space-between;
  align-items: center;
}
.footercontent .section1 .footerLogo {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footercontent .section1 .footerLogo .fLogo {
  height: 100px;
  width: auto;
}
.footerSocials {
  display: flex;
  margin: auto;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}

.footerSocials a img {
  height: auto;
  display: flex;
  width: 30px;
  margin: auto;
  padding: 0px;
}

.footerSocials a:nth-child(2) {
  margin-left: 20px;
}

.serchContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  right: 0px;
  position: relative;
  height: 50%;
  width: auto;
}

.serchContainer form {
  color: white;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  border: 1px solid rgb(115, 115, 115);
}

.serchContainer form input {
  height: 100%;
  width: 300px;
  display: flex;
  margin: auto;
  background: rgba(70, 126, 65, 0.5);
  border: none;
  font-family: poppins;
  font-weight: 500;
  color: white;
  padding: 11.5px;
}
.serchContainer form input ::placeholder {
  color: white;
}
.serchContainer form input:focus {
  outline: none;
}
.serchContainer form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  padding: 10px;
  border: none;
  font-family: poppins;
  font-size: small;
  background: linear-gradient(270deg, #5b7d58 0%, #343833 100%);
}

.section2 {
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.section2 .footerSection2contaiiner1-context {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #808380;
  padding-bottom: 20px;
  width: 100%;
}
.section2 .footerSection2contaiiner1-context .forum {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
}

.section2 .footerSection2contaiiner1-context .forum .forumLogoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  left: 0px;
  height: 50px;
  width: auto;
}
.section2 .footerSection2contaiiner1-context .forum .forumLogoContainer img {
  height: 100%;
  width: auto;
  position: relative;
  margin-right: 10px;
}

.section2 .footerSection2contaiiner1-context .forum .forumLogoContainer h3 {
  display: flex;
  font-weight: bold;
  font-family: poppins;
}

.section2 .footerSection2contaiiner1-context .forum h2 {
  font-family: poppins;
  font-size: 15px;
}

h2 span {
  color: #467e41;
}

.section2 .footerSection2contaiiner1-context .webSections {
  height: auto;
  width: 258.36px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.section2 .footerSection2contaiiner1-context .webSections h3 {
  font-size: 15.5px;
  padding: 2px 8px;
  width: 150px;
  margin-bottom: 10px;
  font-family: poppins;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 0.5) 1.58%,
    rgba(217, 217, 217, 0) 54.21%
  );
  border: 0.5px solid #aaadaa;
}

.section2 .footerSection2contaiiner1-context .webSections .sectionLinks {
  font-size: 15px;
  font-family: popins;
}

.section2 .footerSection2contaiiner1-context .popularTags {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.section2 .footerSection2contaiiner1-context .popularTags h3 {
  font-size: 15.5px;
  padding: 2px 8px;
  width: 150px;
  margin-bottom: 10px;
  font-family: poppins;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 0.5) 1.58%,
    rgba(217, 217, 217, 0) 54.21%
  );
  border: 0.5px solid #aaadaa;
}

.section2 .footerSection2contaiiner1-context .popularTags .tags {
  height: auto;
  width: 245px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.section2 .footerSection2contaiiner1-context .popularTags .tags button {
  border: 1px solid rgb(205, 205, 205);
  margin: 5px;
  margin-right: 5px;
  font-size: 10px;
  padding: 2px 10px;
  background-color: rgba(255, 255, 255, 0.193);
}

.footerSection2contaiiner1-whatsAppLink {
  height: auto;
  width: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSection2contaiiner1-whatsAppLink .whatsappLinkContext {
  display: flex;
  position: absolute;
  border-radius: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: auto;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='5' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.footerSection2contaiiner1-whatsAppLink .whatsappLinkContext .whatsAppLogo {
  height: 109px;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footerSection2contaiiner1-whatsAppLink .whatsappLinkContext .whatsAppLogo img {
  height: 80px;
  width: auto;
  display: flex;
  margin: auto;
}
.footerSection2contaiiner1-whatsAppLink .whatsappLinkContext h3 {
  text-align: center;
  font-size: 15px;
  display: flex;
  margin: 10px 15px;
}
.copyright {
  margin: auto;
  display: flex;
  font-size: 12px;
  position: relative;
  bottom: 0px;
}

@media only screen and (max-width: 900px) {
  .footer {
    height: auto;
    width: 100%;
  }
  .footercontent {
    justify-content: space-evenly;
    padding: 5px;
    width: 100%;
    height: auto;
  }
  .section1 {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  } 
  .footercontent .section1 .footerLogo {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footercontent .section1 .footerLogo .fLogo {
    height: 50px;
    width: auto;
    margin: 10px;
  }
  .footerSocials {
    display: flex;
    height: auto;
    width: auto;
    right: 0px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }

  .serchContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    right: 0px;
    position: relative;
    height: 30%;
    width: 100%;
  }
  .hr {
    margin: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section2 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  .footerSection2contaiiner1-context {
    flex-wrap: wrap;
    height: auto;
  }
  .section2 .footerSection2contaiiner1-context .forum {
    width: 100%;
    flex-direction: column;
    width: 300px;
    height: auto;
    justify-content: center;
    position: relative;
  }
  .section2 .footerSection2contaiiner1-context .forum {
    margin-bottom: 5px;
    width: 100%;
  }
  .section2 .footerSection2contaiiner1-context .forum .forumLogoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    left: 0px;
    height: 30px;
    width: auto;
  }
  .section2 .footerSection2contaiiner1-context .forum .forumLogoContainer h3 {
    font-size: 15px;
    width: auto;
  }
  .section2 .footerSection2contaiiner1-context .forum h2 {
    font-family: poppins;
    font-size: 15px;
    width: 100%;
  }
  .section2 .footerSection2contaiiner1-context .webSections {
    width: 100%;
    margin: 10px;
  }
  .section2 .footerSection2contaiiner1-context .popularTags {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
  }
  .section2 .footerSection2contaiiner1-context .popularTags .tags {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .footerSection2contaiiner1-whatsAppLink .whatsappLinkContext h3 {
    text-align: center;
    font-size: 10px;
    display: flex;
    margin: auto;
    margin-top: 10px;
  }
  .copyright {
    text-align: center;
    width: 80%;
    margin: 10px;
    display: flex;
    font-size: 12px;
    position: relative;
    bottom: 0px;
  }
}
